/* @settings

name: Sticky Table Headers
id: sticky-table-headers
settings:
    -
        id: sticky-table-headers-floating-table-header-background-light
        title: Floating header background color (light theme)
        type: variable-color
        opacity: true
        format: hex
        default: '#F6F6F6'
    -
        id: sticky-table-headers-floating-table-header-background-dark
        title: Floating header background color (dark theme)
        type: variable-color
        opacity: true
        format: hex
        default: '#262626'
*/

body {
    --sticky-table-headers-floating-table-header-background: var(--background-secondary);
}

body.theme-light {
    --sticky-table-headers-floating-table-header-background: var(
        --sticky-table-headers-floating-table-header-background-light,
        var(--background-secondary)
    );
}

body.theme-dark {
    --sticky-table-headers-floating-table-header-background: var(
        --sticky-table-headers-floating-table-header-background-dark,
        var(--background-secondary)
    );
}

.markdown-reading-view .el-table {
    overflow: visible !important;
}

.markdown-source-view .cm-embed-block.cm-table-widget {
    overflow: visible;
}

.markdown-source-view.mod-cm6 .cm-table-widget th,
.markdown-reading-view .el-table thead th {
    position: sticky;
    top: calc(-1 * var(--file-margins-top, 1px) - 1px); /* Handle border gap */
    z-index: 1000;
}

.markdown-source-view.mod-cm6 .cm-table-widget th,
.markdown-reading-view .el-table thead th,
table.header-floating thead th {
    background-color: var(
        --sticky-table-headers-floating-table-header-background,
        var(--background-secondary)
    );
}
